
<p>Ingreso de persona</p>

<label for="nombre">Nombre:</label>
<input type="text" name="nombre" id="" [(ngModel)] = "persona.nombre">
<br>
<label for="Apellido">Apellido:</label>
<input type="text" name="Apellido" id="" [(ngModel)] = "persona.apellido">
<br>
<label for="Direccion">Direccion:</label>
<input type="text" name="Direccion" id="" [(ngModel)] = "persona.direccion">
<br>
<label for="Ciudad">Ciudad:</label>
<input type="text" name="Ciudad" id="" [(ngModel)] = "persona.ciudad">
<br>
<label for="Pais">Pais:</label>
<input type="text" name="Pais" id="" [(ngModel)] = "persona.pais">
<br>
<label for="FecNac">Fecha de nacimietno:</label>
<input type="text" name="FecNac" id="" [(ngModel)] = "persona.fechaNacimiento">
<br>
<input type="button" value="Guadar" (click) = "guardarPersona()">


